/* CSS Document */
#divbody {
	position: absolute;
	width: 400px;
	height: 300px;
	left: 50%;
	top: 50%;
	margin-left: -200px;
	margin-top: -150px;
	border-radius: 20px;
	background: #DCDCDC;
}
#div1 {
	position: absolute;
	width: 380px;
	height: 280px;
	left: 50%;
	top: 50%;
	margin-left: -190px;
	margin-top: -140px;
}
